
$html-font-size: 10px;

// colors
$background-color-base: #242E42 !default;
$background-color-active: #20293C !default;

$color-primary: #1F8EFA !default;
$color-text: #98A7B9 !default;

// font-size
$font-size-base: 2.5rem !default;;
$font-size-title: 4rem !default;;


// header
$header-height: 13rem;
$header-border: 2px solid $background-color-active;


// aside
$aside-width: 40rem;
$aside-padding-top: 6rem;


// content
$content-padding: 1rem;
