
.icon-home:before { content: '\e800'; } /* '' */
.icon-list:before { content: '\e801'; } /* '' */
.icon-back-in-time:before { content: '\e802'; } /* '' */
.icon-cog-outline:before { content: '\e803'; } /* '' */
.icon-tablet:before { content: '\f10a'; } /* '' */
.icon-chart-line:before { content: '\f201'; } /* '' */